:root {
    --font-family-main: arial, "Helvetica", serif;

    // Font sizes
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 24px;

    // Font line heights
    --font-line-s: 20px;
    --font-line-m: 24px;
    --font-line-l: 32px;

    // Font size/height variants
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Font weights
    --font-weight-bold: 700;

    // Navbar
    --navbar-height: 84px;

    // Sidebar
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Colors
    --overlay-color: rgba(3 0 28 / 50%);

    // Animations
    --transition-fast: 0.2s;
    --transition-medium: 0.5s;
    --transition-slow: 0.75s;

    // Border-radius
    --border-radius-s: 14px;
    --border-radius-m: 23px;
    --border-radius-l: 100px;
    --border-radius-angled: 0;

    // z-index
    --z-index-modal: 10;
}

