.Button {
    color: var(--bg-color);
    background: var(--primary-color);
    align-items: center;

    & svg {
        fill: var(--bg-color);
    }
}

.clear {
    color: var(--primary-color);
    border: none;
    background: none;
    outline: none;

    & svg {
        fill: var(--primary-color);
    }
}

.clear.size_s {
    padding: 0;
}

.clear.size_m {
    padding: 0;
}

.clear.size_l {
    padding: 0;
}

.outline {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    & svg {
        fill: var(--primary-color);
    }
}

.outline.size_s {
    border: 1px solid var(--primary-color);
}

.size_s {
    font: var(--font-s);
    padding: 9px 16px;
    gap: 8px;

    & svg {
        width: 20px;
        height: 20px;
    }
}

.size_m {
    font: var(--font-m);
    font-weight: var(--font-weight-bold);
    padding: 14px 20px;
    gap: 10px;
}

.size_l {
    font: var(--font-l);
    font-weight: var(--font-weight-bold);
    padding: 18px 24px;
    gap: 16px;

    & svg {
        width: 32px;
        height: 32px;
    }
}

.round_s {
    border-radius: 14px;
}

.round_m {
    border-radius: 23px;
}

.round_l {
    border-radius: 100px;
}

.angled {
    border-radius: 0;
}

.withIcon {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
