.select {
    background: var(--bg-color);
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 9px;
    border-radius: var(--border-radius-s);
    cursor: pointer;
}

.label {
    margin-right: 5px;
}

.option {
    cursor: pointer;
}
