.app_dark_theme {
    --bg-color: #03001C;
    --inverted-bg-color: #ECF9FF;
    --primary-color: #B6EADA;
    --secondary-color: #5B8FB9;
    --inverted-primary-color: #F8CBA6;
    --inverted-secondary-color: #FFE7CC;
    --danger-color: #FF3B30;
}
