.ProfileCard {
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius-m);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    column-gap: 20px;
}

.error {
    justify-content: center;
    align-items: center;
}

.avatar {
    align-self: center;
}
